@import "bootstrap";

body {
  background: url('bg.png');
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

.navbar {
  border-radius: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 200;
  box‐shadow: 0px 1px 3px #2a2a2a;
  background: url('dark_wood.png')
}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: white;
}

.hero {
  background: url('computer_keyboard.jpg') no-repeat center fixed;
  ‐webkit‐background‐size:cover;
  ‐moz‐background‐size:cover;
  ‐o‐background‐size:cover;
  background‐size:cover;
  height: 400px;
  box-shadow: 0px 3px 8px #2a2a2a;
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.h3-label {
  margin: 5px;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.btn {
  border-radius: 2px;
  margin: 10px 5px;
}

.btn-lesson {
  margin-top: 0;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

.booyah-box h1, .booyah-box h2 {
  margin: 10px;
}

.booyah-box form h1, .booyah-box form h2 {
  margin: 10px 0;
}

.booyah-box form {
  padding: 20px;
}

.clear {
  clear: both;
}

.lesson {
  background-color: black;
  padding: 5px;
  border-radius: 4px;
  margin-top: 10px;
  height: 80px;
}

.lesson a {
  color: lightgray;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  font-size: 15px;
}

.lesson a strong {
  font-weight: 100;
  font-size: 25px;
}

.lesson-subtitle {
  margin-left: 10px;
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  margin-top: 10px;
}

.section:last-child {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
}

.section .header {
  font-size:25px;
}

.section .header .fa {
  font-size:20px;
}

.lessons > div {
  background: black;
  color: lightgray;
  margin: 10px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  padding: 8px;
  font-size: 15px;
  margin: 10px 20px;
  border-radius: 4px;
}

.lessons div strong {
  font-size: 25px;
  font-weight: 100;
}

.lessons div p {
  margin: 0;
}

.social-button {
  margin: 4px;
}

.social a:hover {
  text-decoration: none;
}