@import "bootstrap";

$footer-height: 100px;

// * {
//   margin: 0;
// }

// html,
// body {
//   height: 100%;
//   /* The html and body elements cannot have any padding or margin. */
// }

// /* Wrapper for page content to push down footer */
// #wrap {
//   min-height: 100%;
//   Negative indent footer by its height
//   margin-bottom: -($footer-height);
//   /* Pad bottom by footer height */
//   // padding-bottom: $footer-height;
// }

// #wrap:after {
//   content: "";
//   display: block;
// }

// #footer, #wrap:after {
//   height: $footer-height;
// }

/* Set the fixed height of the footer here */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: $footer-height;
  width: 100%;
  color: white;
  background-color: rgba(36,32,33,0.9);
  font-family: "Helvetica Neue",Helvetica, sans-serif;
  padding: 10px 0;
  margin-top: 30px;
}

footer a {
  color: white;
  font-weight: 100;
}

body {
  padding-top: 50px;
  background: url('bg.png');
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  margin-bottom: ($footer-height+10px);
}

body:after {
  content: "";
  display: block;
  height: $footer-height;
}

.navbar {
  border-radius: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 200;
  box‐shadow: 0px 1px 3px #2a2a2a;
  background: url('dark_wood.png')
}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: white;
}

.hero {
  background: url('computer_keyboard.jpg') no-repeat center fixed;
  ‐webkit‐background‐size:cover; 
  ‐moz‐background‐size:cover;
  ‐o‐background‐size:cover;
  background‐size:cover;
  height: 600px;
  box-shadow: 0px 3px 8px #2a2a2a;
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.btn {
  border-radius: 2px;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

.booyah-box h1, .booyah-box h2 {
  margin: 10px;
}

.booyah-box form h1, .booyah-box form h2 {
  margin: 10px 0;
}

.booyah-box form {
  padding: 20px;
}

.clear {
  clear: both;
}