@import "bootstrap";

body {
  margin-top: 50px;
  background: url('bg.png');
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar {
  border-radius: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 200;
  box‐shadow: 0px 1px 3px #2a2a2a;
  background: url('dark_wood.png')
}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: white;
}

.hero {
  background: url('computer_keyboard.jpg') no-repeat center fixed;
  ‐webkit‐background‐size:cover; 
  ‐moz‐background‐size:cover;
  ‐o‐background‐size:cover;
  background‐size:cover;
  height: 600px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.btn {
  border-radius: 2px;
}